{% extends 'recomendador.html' %}

{% load static %}

{% load my_filters %}

{% block content %}
<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Pregunta 4</h2>
                    <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<section class="section">
    
    
    <h1>Recomendador del usuario: {{user.username}}</h1>
    <div class="container">
        <p>{{user.is_authenticated}}</p>
    </div>
</section>
  
  <!-- ***** Footer Start ***** -->

{% endblock %}